.modal__hidden-checkbox {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  background: #ffffff;
  color: #212121;
  font-family: "Roboto", "Raleway", sans-serif;
}

:root {
  --main-font: "Roboto", "Open Sans", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #212121;
  --secondary-color: #2196f3;
  --third-color: #ffffff;
  --additional-color: #757575;
  --bgbutton-portfolio: #f5f4fa;
}

h1 h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 18px;
  line-height: 2;
}

p {
  font-size: 16px;
  line-height: 1.87;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
  border: 0px;
}

.list {
  list-style: none;
}

a {
  list-style-type: none;
  text-decoration: none;
  transition-property: color;
}

a:hover,
a:focus {
  color: var(--secondary-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 1200px;
  margin: 0 auto;
  align-items: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition-property: color;
}

.logo:hover {
  color: var(--secondary-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  border-bottom: 1px solid #ececec;
}

.container--header {
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
  align-items: center;
}

.logo--dark {
  margin-right: 93px;
  color: var(--main-color);
}

.logo--dark > span {
  color: var(--secondary-color);
}

.header__navigation {
  display: flex;
  align-items: center;
}

.header__navigation-list {
  display: flex;
  gap: 46px;
}

.header__navigation--link {
  text-decoration: none;
  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
}

.header__navigation-icon {
  fill: #757575;
  margin-right: 10px;
  align-content: center;
  vertical-align: bottom;
  transition-property: fill;
}

.header__navigation--active {
  color: var(--secondary-color);
  position: relative;
}

.header__navigation--active:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -33px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--secondary-color);
}

.header__navigation-list {
  margin-left: auto;
}

.header__navigation-item:hover {
  fill: var(--secondary-color);
  color: var(--secondary-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__navigation-mail {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.header__navigation-tel {
  margin-left: 50px;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.header__navigation-tel:hover {
  color: var(--secondary-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
  gap: 9px;
}

.filters:active {
  color: #2196f3;
}

.filters__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  background-color: var(--bgbutton-portfolio);
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
  transition-property: background-color, color, box-shadow;
}

.filters__button:hover, .filters__button:focus {
  background-color: var(--secondary-color);
  color: var(--third-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio__item {
  background: #ffffff;
}

.portfolio__item:hover, .portfolio__item:focus {
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__img {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  padding: 49px 45px 49px 24px;
  color: var(--third-color);
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
}

.portfolio__item:hover .portfolio__overlay,
.portfolio__item:focus .portfolio__overlay {
  transform: translateY(0);
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__description {
  padding: 20px 24px 20px 24px;
  border: 1px solid #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.portfolio__title {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio__text {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--additional-color);
}

.footer {
  text-decoration: none;
  background-color: #2f303a;
  padding-top: 60px;
}

.logo--light {
  color: var(--third-color);
}

.logo--light > span {
  color: var(--secondary-color);
}

.footer__staff {
  display: flex;
}

.footer__address {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-bottom: 60px;
  padding-top: 20px;
}

.footer__address--street {
  color: #ffffff;
}

.footer__address--mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  transition-property: color, fill;
}

.footer__address--mail:hover, .footer__address--mail:focus {
  color: var(--secondary-color);
  fill: var(--secondary-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__address--tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  transition-property: color, fill;
}

.footer__address--tel:hover, .footer__address--tel:focus {
  color: var(--secondary-color);
  fill: var(--secondary-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 206px;
  height: 80px;
  padding-left: 70px;
  padding-top: 12px;
  margin-right: 171px;
  gap: 20px;
}

.footer__social-title {
  color: #ffffff;
}

.footer__social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--third-color);
  background: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
}

.footer__social-link:hover, .footer__social-link:focus {
  background-color: var(--secondary-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__newsletter {
  padding-top: 12px;
}

.footer__newsletter-title {
  color: var(--third-color);
}

.footer__newsletter-form {
  display: flex;
  gap: 12px;
}

.footer__newsletter-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-top: 20px;
  color: var(--third-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition-property: border-color;
}

.footer__newsletter-button {
  padding: 10px 28px 10px 42px;
  margin-top: 20px;
  border: 0;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--third-color);
}

.footer__newsletter-icon {
  fill: var(--third-color);
  margin-left: 24px;
}
/*# sourceMappingURL=portfolio.css.map */