.about-us__icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 100px 25px 100px;
  background: #f5f4fa;
  border-radius: 4px;
}
.about-us__list {
  display: flex;
  justify-content: center;
  align-items: center;
  
  gap: 30px;
}

.about-us__item {
  max-width: 270px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .about-us__item {
    max-width: 450px;
  }
  .about-us__list {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .about-us__list {
    width: 40%;
  }
  .about-us__item {
  max-width: 354px;
}
}
.about-us__title {
  padding-top: 30px;
  padding-bottom: 10px;
}
.about-us__text {
  font-size: 14px;
  color: var(--additional-color);
}
