.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("/images/mobile/hero-bg-mobile480x400@1x.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  text-align: center;
  padding: 118px 15px;
  color: #ffffff;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("/images/mobile/hero-bg-mobile480x400@2x.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("/images/tablet/hero-bg-tablet768x400@1x.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px),
  screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("/images/tablet/hero-bg-tablet768x400@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    background-size: cover;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("/images/desktop/hero-bg-desktop@1x.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("/images/desktop/hero-bg-desktop@1x.jpg");
  }
}
.hero__title {
  padding-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin: 0;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 60px;
  }
}
.hero__button {
  padding: 10px 41px 10px 42px;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 0.06em;
}
