.header {
  border-bottom: 1px solid #ececec;
}
.container--header {
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
  align-items: center;
}
.logo--dark {
  margin-right: 93px;
  color: var(--main-color);
}
.logo--dark > span {
  color: var(--secondary-color);
}
.header__navigation {
  display: flex;
  align-items: center;
}
.header__navigation-list {
  display: flex;
  gap: 46px;
}

.header__navigation--link {
  text-decoration: none;
  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
}
.header__navigation-icon {
  fill: #757575;
  margin-right: 10px;
  align-content: center;
  vertical-align: bottom;
  transition-property: fill;
}

.header__navigation--active {
  color: var(--secondary-color);
  position: relative;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -33px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--secondary-color);
  }
}
.header__navigation-list {
  margin-left: auto;
}
.header__navigation-item:hover {
  fill: var(--secondary-color);
  color: var(--secondary-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__navigation-mail {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.header__navigation-tel {
  margin-left: 50px;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  &:hover {
    color: var(--secondary-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
