.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
  gap: 9px;

  &:active {
    color: #2196f3;
  }
}

.filters__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  background-color: var(--bgbutton-portfolio);
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
  transition-property: background-color, color, box-shadow;

  &:hover,
  &:focus {
    background-color: var(--secondary-color);
    color: var(--third-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio__item {
  background: #ffffff;

  &:hover,
  &:focus {
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio__img {
  position: relative;
  overflow: hidden;
}
.portfolio__overlay {
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  padding: 49px 45px 49px 24px;
  color: var(--third-color);
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
}

.portfolio__item:hover .portfolio__overlay,
.portfolio__item:focus .portfolio__overlay {
  transform: translateY(0);
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__description {
  padding: 20px 24px 20px 24px;
  border: 1px solid #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.portfolio__title {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}
.portfolio__text {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--additional-color);
}
