.work {
  margin-top: 94px;
}
.work__title {
  margin-top: 90px;
  margin-bottom: 50px;
}
.work__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.work__list-item {
  display: flex;
  position: relative;
}
.work__list-text {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: var(--third-color);
  text-align: center;
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  padding: 27px 90px 27px 90px;
  width: 100%;
  top: 224px;
}
