.container {
  max-width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .container {
    min-width: 480px;
    max-width: 480px;
    padding: 0px 15px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0px 15px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0px 15px;
  }
}
// .container {
//   width: 1200px;
//   margin: 0 auto;
//   align-items: center;
// }
